.Rproj.user
.Rhistory
.RData
.Ruserdata

# 'data' folder #
data/

# 'output' folders #
publication/output/
management-report/output/

# Markdown output #
publication/markdown/report.docx
publication/markdown/summary.docx

# Figures #
*.png

# Dev file
*dev.xlsx