.Rproj.user
.Rhistory
.RData
.Ruserdata

# 'data' folder #
data/

# 'figures' folder #
publication/markdown/figures

# 'output' folders #
publication/output/

# html files #
*.html

# Markdown output #
publication/markdown/report.docx
publication/markdown/summary.docx